/* frontend mentor footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

// mobile styling
body {
    // max-width: 100%;
    margin: 0;
}

p {
    padding: 10px;
}

.mobile-view {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.mobile-logo{
    float: left;
    padding: 12px;
}

.mobile-menu {
    float: right;
    padding: 12px;
}

.hero-mobile {
    margin-top: 20px;
    height: auto;
    width: 100%;
    border: 2px solid black;

    border: 0px solid red;
    width: 100%;
    margin: 40px auto;
}

.slogan {
    font-size: 40px;
}

.learn-more {
    background-color: black;
    border-style: none;
    color: white;
    padding: 14px 14px 14px 14px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 5px;
}

.company-divs{
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    transform: scale(.7);

    img {
        padding: 15px;
    }
}

