html, body {
font-family: 'PT Sans', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#register {
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
  padding: 20px;
}

.company-details {
  margin-top: 100px;
  font-size: 40px;
}

.slogan {
  font-size: 80px;
  font-weight: 900;
}

.cta-details {
  font-size: 20px;
}

.row {
  margin-top: 50px;
}

#learn-more {
  margin-top: 30px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  outline: none;
  box-shadow: none;
}

.hero-img {
  width: 500px;
}